# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Cursor
#.cursor
#.cursorrules

# other
game

# Database files (exclude from git but allow in development)
/ludolingua.db*
*.db-wal
*.db-shm